@{
	ViewData["Title"]  = "New Page";
}

<!-- All classes or text values below each comment are the ones needing changing. -->
<!-- The ViewBags are to select which navBar, sideBar, etc. you wanna use. -->
<div id="navBar">
    <!--Class below this.-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--Text/name attribute below this.-->
                <a class="navbar-brand" href="#" name="WebSiteName" contenteditable="true">WebSiteName</a>
            </div>
            <!--Class below this.-->
            <ul class="nav navbar-nav">
            <!--Text/name attribute below this.-->
            <li><a href="#" name="Home" contenteditable="true">Home</a></li>
            <!--Text/name attribute below this.-->
            <li><a href="#" name="Page 1" contenteditable="true">Page 1</a></li>
            <!--Text/name attribute below this.-->
            <li><a href="#" name="Page 2" contenteditable="true">Page 2</a></li>
            <!--Text/name attribute below this.-->
            <li><a href="#" name="Page 3" contenteditable="true">Page 3</a></li>
            </ul>
        </div>
    </nav>
</div>
<!--Class below this.-->
<div class="col-sm-2 text-center sidebar2" name="col-sm-2 text-center sidebar2">
    <ul class="nav flex-column">
        <!--Text/name attribute below this.-->
        <li class="nav-item"><a class="nav-link" href="#" name="Active" contenteditable="true">Active</a></li>
        <!--Text/name attribute below this.-->
        <li class="nav-item"><a class="nav-link" href="#" name="Link" contenteditable="true">Link</a></li>
        <!--Text/name attribute below this.-->
        <li class="nav-item"><a class="nav-link" href="#" name="Link" contenteditable="true">Link</a></li>
        <!--Text/name attribute below this.-->
        <li class="nav-item"><a class="nav-link" href="#" name="Disabled" contenteditable="true">Disabled</a></li>
    </ul>
</div>      
<div class="col-sm-9 col-sm-offset-2">
    <!--Class below this AND Text/name attribute below this.-->
    <h2 class="font3" name="Post Title" contenteditable="true">Post Title</h2>
    <!--Class below this AND Text/name attribute below this.-->
    <h5 class="font3" name=" Post by John Doe, Mar 30, 2017."><span class="glyphicon glyphicon-time"></span> Post by John Doe, Mar 30, 2017.</h5><br>
    <!--Class below this AND Text/name attribute below this.-->
    <p class="font3" name="Edit your post text here." contenteditable="true">Edit your post text here.</p>
</div>
